:root{
    --primaryColor:#534398;
    --secondryColor:#82b3d3;
    --lightColor:#ffffff;
    --bgColor-1:#000000;
    --bgColor-2:#22282a;
    --padding:8%;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: l6px;
    color: var(--lightColor);
}
span{
    color: var(--primaryColor);
}
p{
    color: var(--secondryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

blockquote{
    color: var(--secondryColor);
letter-spacing: 1px;
line-height: 1.8rem;
font-size: 1rem;
}



nav{
   
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.6rem 1.0rem;

}
nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primaryColor);
}
.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;

}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}
.hambrger {
    display: none;
    position: relative;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  .hambrger span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transform: 0.4s;

  }
  #menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transform: 0.4s;
    margin-bottom: 5px;

}

#menu.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}

#menu.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span{
    background-color: var(--primaryColor);
}
