@media screen and (max-width: 575px) {
    :root{
     --padding: 1.5rem;
     }
     html {
         font-size: 13px;
     }

     h1 {
        font-size: 4.65rem;
        margin: 6.6rem 0;
    }
     .home .container-images{
         display: none;
     }
     nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;


    }

    nav > a {
        display: none;
        
    }
    
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100 vh;
        background: var(--bgColor-2);
        
    }

    nav ul.is-active{
        display: block;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 30px;
    }
 
     .container-texts{
         bottom: 0em;
     }
     .social {
         margin-top: 70px;
     }
     
     h3{
         margin-bottom: 70px;
     }
     #menu{
        display: block;
    }
   
     .about .container-images{
         display: none;
     }
     .about .container-texts{
         width: 100%;
     }
 
     .box{
         justify-content: center;
         flex-wrap: wrap;
         gap: 1rem;
     }
     .language{
        padding: 20px;
          
     }
     .language h1{
        font-size: 30px;
     }
    
    
     .skills .container-images{
         display: none;
     }
     .skills .container-skills{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
     }
     .skills .container-skills .content-skills{
         margin-top: 2rem;
         align-items: center;
         justify-content: center;
 
     }
 
     .skill{
         width: 55px;
         height: 55px;
     }
     .work{
        display: none;
     }
     
     footer .content-footer p{
         width: 100%;
     }
 }

 @media screen and (min-width: 390px) and (max-width: 844px){
    :root{
        --padding: 1.5rem;
        }
        html {
            font-size: 13px;
        }
        h1 {
            font-size: 4.65rem;
            margin: 10.6rem 0;
        }
        .home .container-images{
            display: none;
        }

        .content{
            padding-top: 170px;
        }
        nav {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: 82px;
            padding-top: 0;
            background-color: var(--bgColor-1);
            border-bottom: 1px solid var(--bgColor-2);
            z-index: 100;
    
    
        }
    
        nav > a {
            display: none;
            
        }
        
        nav ul {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100 vh;
            background: var(--bgColor-2);
            
        }
    
        nav ul.is-active{
            display: block;
        }
        nav ul li{
            display: block;
            text-align: center;
            margin: 30px;
        }
    
        .container-texts{
            bottom: 0em;
        }
        .social {
            margin-top: 30px;

        }
        
        
        h3{
            margin-bottom: 30px;
        }
       
        .about .container-images{
            display: none;
        }
        .about .container-texts{
            width: 100%;
        }
    
        .box{
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
        .skills .container-images{
            display: none;
        }
        .skills .container-skills{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .skills .container-skills .content-skills{
            margin-top: 2rem;
            align-items: center;
            justify-content: center;
    
        }
    
        .skill{
            width: 55px;
            height: 55px;
        }
        .work{
            display: none;
         }
        footer .content-footer p{
            width: 100%;
        }
 }
 